version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api-app-instance
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
